#!/bin/sh 

set -e

# determine architecture
ARCH=`dpkg --print-architecture`

# source debconf library
. /usr/share/debconf/confmodule

if [ "$ARCH" != "m68k" ]; then
  # ask about autosave
  db_input medium setserial/autosave-types || true
fi

# db_input medium setserial/usemodup || true

# go, go, go! :)
db_go
